:root {
    --first-color: #0979b0;
    --second-color: #7cdaf9;
    --third-color: #004173;
    --fourth-color: #3c3c3c;
    --fifth-color: #e8c39e;
}

.header {
    background-color: var(--first-color);
    color: white;
    display: flex;
    justify-content: center;
}

.headerBtn {
    border: none;
    border-radius: 10%;
    padding: 5px 20px;
    background-color: var(--first-color);
    color: white;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 0rem 0rem 1rem 0rem;
}

.headerList {
    display: flex;
    gap: 2rem;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.headerListItem.active {
    border-bottom: 1px solid white;
    padding: 1rem;
}

.headerImg {
    width: 100%;
    z-index: 2;
    background-image: url(../../img/perito-moreno-header.jpg);
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding-top: 1rem;
}

.headerSearch {
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 3rem;
    background-color: white;
    border: 3px solid var(--first-color);
    align-items: center;
    justify-content: space-around;
    margin: 12.5rem auto;
}

.headerIcon {
    color: var(--fourth-color);
    font-size: 1.2rem;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.date {
    position: absolute;
    margin-top: 25.5rem;
    margin-left: -2.5rem;
}

.options {
    position: absolute;
    margin-top: 9rem;
    background-color: white;
}

.optionText {
    margin-top: 5px;
}

.optionsItem {
    width: 13rem;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.optionCounterButton {
    height: 25px;
    width: 25px;
    border: none;
    text-align: center;
    background-color: var(--first-color);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.optionCounterNumber {
    padding-top: 5px;
    background-color: white;
    color: var(--fourth-color);
}